@font-family: 'Roboto', sans-serif;

@primary-color: #AE924E;

// Badge
@badge-text-color: #FFFFFF;
@badge-color: #000;

// LINK
@link-color: #000;
@link-hover-color: primary-color;
@link-active-color: primary-color;
